/* Fonts */
@font-face {
  font-family: 'CMU-Serif';
  src: url(fonts/cmunrm.ttf);
  font-style: normal;
  font-weight: normal;
}
/* @font-face {
  font-family: 'CMU-Serif';
  src: url(fonts/cmunbx.ttf);
  font-style: normal;
  font-weight: bold;
} */
@font-face {
  font-family: 'CMU-Serif';
  src: url(fonts/cmunci.ttf);
  font-style: italic;
  font-weight: normal;
}

/* Text styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  font-family: 'CMU-Serif', 'Times New Roman', Times, serif;
  background: #0D0D0D; 
  background-image: url("stars.png");
  background-repeat: repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
  color: white;
}

nav {
  width: 100vw;
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  top: 1.5rem;
  z-index: 40;
}
nav div {
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
}

.content {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 8rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h2 {
  margin: 0 0 1rem;
  font-size: 2rem;
}
p {
  font-style: italic;
  text-align: center;
  width: 100%;
}
.button {
  /* position: absolute; */
  /* bottom: 9rem; */
  color: white;
  text-decoration: none;
  font-size: .9rem;
  border: solid 1px white;
  border-radius: 2rem;
  padding: .3rem .8rem;
}

.button:hover,
.button:focus,
.button:active {
  color: black;
  background: white;
}

/* Tunnel animation */
.tunnel {
  position: relative;
  width: 4rem;
  height: 4rem;
}
.frame {
  width: 100%;
  height: 100%;
  position: absolute;
  border-width: 0.02rem;
  border-style: solid;
  border-color: #9955b4;
  opacity: .8;
  box-shadow: 
    0px 0px 12px 1px rgba(61, 21, 164, 0.2), 
    0px 0px 8px 1px rgba(137, 51, 244, 0.3), 
    0px 0px 4px 0px rgba(212, 111, 237, 0.2), 
    0px 0px 2px 0px rgba(228, 129, 237, 0.2), 
    inset 0px 0px 12px 1px rgba(61, 21, 164, 0.25), 
    inset 0px 0px 8px 1px rgba(137, 51, 244, 0.3), 
    inset 0px 0px 4px 0px rgba(212, 111, 237, 0.2), 
    inset 0px 0px 2px 0px rgba(228, 129, 237, 0.25)
  ;
  transform-style: preserve-3d;
  animation-name: move;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: calc(1.5s * var(--i) - 12s);
  -webkit-animation-name: move;
  -webkit-animation-duration: 12s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: calc(1.5s * var(--i) - 12s);
  z-index: calc(var(--i) * -1);
}
@keyframes move {
  0% { transform: perspective(1000px) translateZ(1000px) rotate(-70deg); }
  
  50% { opacity: 1; }
  100% {  transform: perspective(1000px) translateZ(0px) rotate(70deg); opacity: 0; }
}
@-webkit-keyframes move {
  0% { transform: perspective(1000px) translateZ(1000px) rotate(-70deg); }
  
  50% { opacity: 1; }
  100% { transform: perspective(1000px) translateZ(0px) rotate(70deg); opacity: 0; }
}

iframe {
  position: absolute;
}